@font-face {
  font-family: pokemon;
  src: url(pokemon.ttf);
}

* {
    font-family: pokemon;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(50, 50, 161);
    color: #ddd;
    line-height: 2em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 5fr 1fr;
    column-gap: 10px;

    grid-template-rows: 2fr 5fr 5fr 5fr;
    row-gap: 10px;

    height: 100vh;
    max-height: 700px;
    margin: 0;
    padding: 30px;
}

.container > * {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5em 15px 15px 15px;
    border-radius: 10px;
}

.type-select {
    grid-column-start: 3;
    grid-row-start: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align-last: center;
}

select {
    font-size: 150%;
    display: block;
}

.atk-header, .def-header {
    font-size: 200%;
}

.def-header {
    grid-column-start: 2;
    grid-row-start: 1;
}

.def-no-effect-container {
    grid-column-start: 2;
    grid-row-start: 2;
}

.def-not-very-effective-container {
    grid-column-start: 2;
    grid-row-start: 3;
}

.def-super-effective-container {
    grid-column-start: 2;
    grid-row-start: 4;
}

.atk-header {
    grid-column-start: 4;
    grid-row-start: 1;
}

.atk-no-effect-container {
    grid-column-start: 4;
    grid-row-start: 2;
}

.atk-not-very-effective-container {
    grid-column-start: 4;
    grid-row-start: 3;
}

.atk-super-effective-container {
    grid-column-start: 4;
    grid-row-start: 4;
}

.type {
    display: inline-block;
    margin: 0.2em;
    width: 9em;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #eee;
    text-shadow: 1px 1px black;
}

.type-normal {background-color: #999;}
.type-fire {background-color: #f51;}
.type-water {background-color: #15f;}
.type-electric {background-color: rgb(235, 192, 20);}
.type-grass {background-color: #2b4;}
.type-ice {background-color: #39f;}
.type-fighting {background-color: rgb(199, 69, 9);}
.type-poison {background-color: rebeccapurple;}
.type-ground {background-color: rgb(203, 158, 100);}
.type-flying {background: linear-gradient(rgb(94, 165, 194), 50%, rgb(225, 225, 225));}
.type-psychic {background-color: rgb(212, 38, 204);}
.type-bug {background-color: rgb(133, 188, 24);}
.type-rock {background-color: rgb(146, 122, 52);}
.type-ghost {background-color: rgb(75, 20, 131);}
.type-dragon {background: linear-gradient(rgb(218, 25, 25), 50%, blue);}
.type-dark {background-color: rgb(60, 43, 21);}
.type-steel {background-color: #777;}
.type-fairy {background-color: rgb(235, 129, 147);}